@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

body {
  margin: 0 auto;
}

.Navigationbar {
  background-color: #fff;
  position: fixed;
  z-index: 200;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Navigationbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Navigationbar ul li {
  float: left;
}

.Nav-left ul li h3 {
  display: inline;
}

.img-sec div {
  display: flex;
  justify-content: center;
}

.Navigationbar ul li .Nav-center {
  padding-top: 13px;
  margin-left: 327px;
}

.Navigationbar ul li .Nav-right {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 323px;
}

.butt {
  margin-right: 8px;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  cursor: pointer;
  padding: 11px 12px 8px;
  white-space: nowrap;
  color: #fff;
  font-size: 11px;
  font-family: "Libre Franklin", sans-serif;
}

.Nav-left {
  padding-top: 12px;
}

.Nav-left ul li {
  margin-left: 18px;
}

.Nav-left ul {
  height: 20px;
}

.hambbutt {
  cursor: pointer;
}

.allfont {
  font-weight: bold;
  color: #000;
  font-size: 14.25px;
  font-family: "Libre Franklin", sans-serif;
}

.bicepcont {
  width: 600px;
}

.css-1w4a6s9 {
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-left: 6px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.edpickas {
  width: 210px;
  margin-left: 20px;
  position: absolute;
  margin-left: 683px;
  margin-top: -187px; 
}

.edpickas h5 {
  padding: 5px;
  width: 210px;
  line-height: 3;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.edpickas h3 {
  font-size: 14px;
  width: calc(100% - 85px);
  text-align: justify;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.3;
  word-spacing: 0px;
  margin: auto 0px auto 10px;
}

.pickcont {
  width: 210px;
}

.edpickas div div {
  display: flex;
  margin-bottom: 10px;
}

.edpickas div img {
  width: 76px;
  height: 68px;
}

.alangut {
  width: 906px;
  height: 510px;
}

.main-sec {
  position: absolute;
  margin-top: 200px;
  width: 100%;
}

#head {
  display: flex;
  justify-content: center;
}

#head h1 {
  text-align: justify;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-size: 2.5rem;
  line-height: 3rem;
}

.fonaws {
  display: block;
  border-top: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 8px;
}

.main-sec .fonaws svg {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.main-sec .fonaws .icon {
  border: 1px solid #eee;
  border-radius: 100%;
  background-color: #eee;
}

.img-sec {
  margin-top: 430px;
  width: 100%;
}

.img-sec img {
  cursor: pointer;
}

figcaption {
  text-align: justify;
  width: 58%;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  color: #666;
  margin-left: 143px;
}

figcaption span {
  color: #888;
}

.artcsec {
  margin-top: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.artcsec .artbody {
  text-align: justify;
  width: 600px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.artbody aside a {
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  color: rgb(18, 18, 18);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0;
  width: 88%;
}

.artcsec .artbody a {
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: #000;
}

.time {
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-top: 15px;
}

.artcsec .artbody time {
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-top: 15px;
}

.artcsec .inflation {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.infl_img {
  width: 230px;
  height: 112px;
}

.inflimg_cont {
  width: 240px;
  margin: 15px;
}

.inflimg_cont figcaption {
  margin: 0;
  width: 236px;
  text-align: justify;
  word-spacing: 0;
}

.artcsec .inflation_container {
  width: 180%;
  margin-left: -233px;
  position: relative;
  display: flex;
  justify-content: center;
}

.inflation_container strong {
  color: #000;
}

.inflation > figcaption {
  margin-right: 393px;
}

.inflation > figcaption::before {
  width: 60px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-bottom: 14px;
}

.artcsec .artbodtwo {
  position: absolute;
}

.artbodtwo #youvide {
  margin: 0;
}

.artbodtwo iframe {
  width: 608px;
  height: 387px;
}

.recomartc figcaption {
  margin-left: 12px;
  line-height: 2.5rem;
}

.artbodtwo #youvide figcaption {
  margin: 0;
  width: 82%;
}

.Article_footer {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

.artcsec .Article_footer a {
  display: inline;
  color: rgb(102, 102, 102);
  text-decoration: underline;
  margin-left: 5px;
}

.footercomment {
  margin-top: 20px;
}

.footercomment button {
  background-color: rgb(50, 104, 145);
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  width: 328px;
  cursor: pointer;
  padding: 5px 0;
}

.morefmspcecont div {
  margin-right: 10px;
}

.recomartc div:nth-child(2) {
  margin-left: 10px;
  margin-bottom: 10px;
}

.recomartc div:first-child {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.artcsec .Article_footer .footercomment div {
  display: inline;
  width: 100%;
}

.suggmoreditor_most {
  width: 200%;
  margin-left: -305px;
  margin-top: 5px;
  display: grid;
  grid-gap: 41px;
  grid-template-columns: 70% 30%;
}

.suggmoreditor {
  display: grid;
  grid-template-rows: 15% 50% 25%;
}

.sugg {
  margin-bottom: 822px;
}

.sugg .artscont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recomimg {
  width: 82px;
  height: 82px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}

.recomartc {
  border: 1px solid gainsboro;
  width: 30%;
  margin: 0;
}

.recomartc div:first-child svg {
  margin-top: 10px;
  margin-left: 74px;
}

.recomartc p {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;
  width: 92%;
}

.recomartc figure {
  width: 50%;
  margin: 0;
}

aside {
  margin-left: 7px;
}

.morefmspce div img {
  width: 272.63px;
  height: 181.75px;
}

.morefmspce div figure {
  margin: 0;
}

.morefmspce div .figcpt {
  margin-left: 220px;
}

.desc {
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.2rem;
}

.morefmspce {
  margin-top: 127px;
}

.morefmspcecont {
  display: grid;
  grid:
    "area area"
    "area area area";
}

.morefmspcecont .morefmspcecont1 {
  display: flex;
}

.editorspicksart {
  display: flex;
}

.desced {
  padding: 5px;
}

.bottnav {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: -345px;
}

.bottnav ul {
  list-style: none;
}

.navcont {
  margin-top: -900px;
}

.navcont div ul {
  margin-right: 100px;
  font-size: 0.8rem;
}

.navcont div a img {
  margin-left: -305px;
}

.section-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.sublist {
  border-left: 1px solid rgb(226, 226, 226);
}

.navcont div ul li {
  line-height: 20px;
}

.concerns {
  display: flex;
  font-size: 10px;
  margin-left: -283px;
  justify-content: space-around;
  width: 189%;
  margin-bottom: 20px;
}
